body {
    padding-top: 1%;
    background-color: #FFFF64;
}

#submitBlock {
    width: 35%;
    margin: 0 auto;
}

h1,
h2 {
    font-weight: bold;
    color: #151515;
    margin: -1%;
    text-align: right;
    transition: 0.1s;
}

h1:hover,
h2:hover {
    color: #FFFF64;
    background-color: #151515;
}

.title {
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
}


/*.title:hover {
    font-size: 350%;
}*/

input[name=title] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    width: 50%;
    border: none;
    font-weight: bold;
    background-color: #FFFF64;
    border-bottom: 4px solid #151515;
    transition: 0.1s;
}

input[name=memo] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    width: 100%;
    border: none;
    background-color: #FFFF64;
    border-bottom: 4px solid #151515;
    transition: 0.1s;
}

input[type=text]:hover {
    border: 6px solid #151515;
    background-color: #151515;
    color: #FFFF64;
}

input[type=text]:focus {
    border: 6px solid #151515;
}

#formSubmit{
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 32px;
    font-size: 28px;
    color:#151515;
    background-color: #FFFF64;
    border: 4px solid #151515;
    transition: 0.1s;
}
#formSubmit:hover {
    background-color: #151515;
    border: 8px solid #151515;
    font-size: 32px;
    color: #FFFF64;
    font-weight: bold;
}

#memoList {
    width: 90%;
    margin: 0 auto;
}

.memo {
    scrollbar-color: #151515 #FFFF64;
    overflow: auto;
    float: left;
    margin: 2%;
    width: 20%;
    height: 25%;
    border: 4px solid #151515;
    transition: 0.1s;
}

.memo:hover {
    background: #151515;
}

.memo:hover>.memoText {
    color: #FFFF64;
}


/*.memo:hover > .memoTitle{
    background-color: #FFFF64;
    color:#151515;
}*/


/*ONLY WORKS ON GOOGLE CHROME*/

.memo::-webkit-scrollbar-track {
    background-color: #FFFF64;
}

.memo::-webkit-scrollbar {
    width: 10px;
    background-color: #FFFF64;
}

.memo::-webkit-scrollbar-thumb {
    background-color: #151515;
}


/*FOR FIREFOX*/


/*
.memo:hover ~ .memo::-webkit-scrollbar-track {
    background-color: #151515; 
}

.memo:hover ~ .memo::-webkit-scrollbar {
    background-color: #151515;
}

.memo:hover ~ .memo::-webkit-scrollbar-thumb {
    background-color: #FFFF64;
}
*/

.memoText {
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    padding: 7px 32px;
    word-wrap: break-word;
}

.memoTitle {
    background-color: #151515;
    color: #FFFF64;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 135%;
    padding: 7px 32px;
    font-weight: bold;
}


/*MODAL*/

#editModal {
    background-color: #151515;
    color: #FFFF64;
}

.modal-dialog,
.modal-lg {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFF64;
    color: #151515;
}

.modal-header{
    font-family: Arial, Helvetica, sans-serif;
}

.modal-content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFF64;
    color: #151515;
}



.btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #FFFF64;
    color: #151515;
    transition: 0.1s;
}

.btn:hover{
    background: #151515;
    border: 8px solid #151515;
    font-size: 16px;
    color: #FFFF64;
    font-weight: bold;
}

.modalTitle {
    font-size: 250%;
    padding: 7px 32px;
    font-weight: bold;
    color: #151515;
    transition: 0.1s;
}

.form-control{
    border: none;
    background-color: #FFFF64;
    color: #151515;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    padding: 7px 32px;
    transition: 0.1s;
}

.form-control:focus{
    border: none;
    background-color: #151515;
    color: #FFFF64;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    padding: 7px 32px;
}
