<html>

<head>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    <%- myCss.style %>
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script>
    <%- jsClient.script %>
  </script>
  <script>
    <%- ajax.script %>
  </script>
  <title>Memos</title>
</head>

<body>
  <div id="submitBlock">
    <h3>Logged in User:
     <%-user.userName%></h3>
    <div class="title">
      <h1>Memos</h1>
    </div>
    <div class="title">
      <h2>Submit a memo</h2>
    </div>
    <form id = "submitMemoForm" method='post' action='/submit'>
      <p><input id = "title" type='text' name='title'></p>
      <p><input id =  "memo" type='text' name='memo'></p>   
      <input type ="hidden" id = "idUser" name ="idUser" value = <%=user.idUser%>>   
      <input type="hidden" id="idMemo" name="idMemo" value= <%=memos.length ==0? 0:  parseInt(memos[memos.length-1].idMemo) +1 %> >
      <p><input id = "formSubmit" type='submit' value='Submit' /></p>
    </form>
  </div>
  <div id="memoList">
    <div class = "modal fade" id = "editModal">
    <form id = "modalForm" method='post' action=''>
      <div class="modal-dialog modal-lg">
      <div class = "modal-content">
        <div class="modal-header">
          <!-- MEMO TITLE -->
        </div>
        <div class="modal-body">
          <!-- MEMO EDITING TEXT -->
        </div>
        <div class="modal-footer">
          <input type="hidden" id="idEditingMemo" name="idEditingMemo" value= "" >
          <input class="btn btn-default" id = "Delete" value="Delete" type = "submit" formaction = "/delete">
          <input class="btn btn-default" id = "SubmitEdit" value="Submit Edit" type = "submit" formaction = "/update">
          <input class="btn btn-default" id = "Close" data-dismiss="modal" value="Close">
        </div>
      </div>   
      </div> 
    </form>
    </div>

    <% memos.forEach((memo)=>{ %>
      <div class = "memo" id="<%= memo.idMemo %>">
        <div class = "memoTitle"><%= memo.titleMemo %></div>
        <div class = "memoText"><%= memo.textMemo %></div>
      </div>
    <% })%>
  </div>
</body>


</html>