<html>
    <head>
        <style>
            <%- myCss.style %>
        </style>
    </head>
    <body>
        <div id="submitBlock">
            <div class="title">
                <h1>Memos</h1>
            </div>
            <div class="title">
                <h2>Login</h2>
            </div>
                <form method='post' action='/login'>
                <p><input type='text' name='usrName'></p>
                <p><input type='password' name='usrPassword'></p>      
                <p><input id = "formSubmit" type='submit' value='Submit' /></p>
                </form>
        </div>

    </body>
</html>